html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(232, 129, 130, 0.8);
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #e88182, #efd889);
}

.header {
  min-height: 100rem;
  padding: 2.8rem 0;
  background-image: linear-gradient(to bottom, rgba(232, 129, 130, 0.8), rgba(239, 216, 137, 0.8)), url("../images/header-background.jpg");
  background-position: center center;
  background-size: cover;
}
.header-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header-logo {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.header .menu-mobile {
  display: none;
  color: white;
  font-size: 2rem;
}
.header-top-list {
  display: flex;
  align-items: center;
}
.header-top-item:not(:first-child) {
  margin-left: 4rem;
}
.header-top-link {
  padding-bottom: 1.2rem;
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fff;
  transition: all 0.2s linear;
}
.header-top-link:hover {
  border-bottom-color: #efd889;
  color: #efd889;
}
.header a[class*=header-top-icon] {
  border-bottom-color: transparent;
}
.header-content {
  max-width: 84rem;
  padding: 16rem 0;
  margin: 0 auto;
  text-align: center;
}
.header-content-caption {
  font-size: 7.2rem;
  font-family: "Kaushan Script", cursive;
  color: white;
  margin-bottom: 7rem;
}
.header-tittle {
  font-size: 15rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  position: relative;
  line-height: 1;
}
.header-tittle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 3px;
  background-color: white;
}
.header-content-more {
  padding: 1.2rem 2.2rem;
  color: white;
  border: 3px solid white;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.header-content-more:hover {
  background-color: white;
  color: #ccc;
}
.header-bottom-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.header-bottom-item {
  width: calc(25% - 30px);
  margin: 0 15px;
  padding-top: 2.5rem;
  opacity: 0.6;
  border-top: 3px solid white;
  color: white;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}
.header-bottom-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 0;
  height: 3px;
  transition: all 0.2s linear;
}
.header-bottom-item:hover {
  opacity: 1;
}
.header-bottom-item:hover::before {
  width: 35%;
  background-color: #e88182;
}
.header-bottom-number {
  font-size: 2.4rem;
  font-weight: 700;
}
.header-bottom-text {
  font-size: 1.8rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .header {
    min-height: unset;
  }
  .header-content {
    padding: 12rem 0;
  }
  .header-content-caption {
    font-size: 6.2rem;
    margin-bottom: 5rem;
  }
  .header-tittle {
    font-size: 11rem;
  }
}
@media screen and (max-width: 767px) {
  .header .menu-mobile {
    display: block;
  }
  .header-top-list {
    display: none;
  }
  .header-content {
    padding: 7rem 0;
  }
  .header-content-caption {
    font-size: 4rem;
  }
  .header-content-more {
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
  }
  .header-tittle {
    font-size: 6rem;
  }
  .header-bottom-item {
    text-align: center;
  }
  .header-bottom-text {
    display: none;
  }
}

.block-heading {
  padding-top: 9rem;
  text-align: center;
  max-width: 95rem;
  margin: 0 auto;
}
.block-heading-caption {
  font-size: 2.4rem;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 2.5rem;
}
.block-heading-tittle {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 4rem;
  margin-bottom: 4.8rem;
}
.block-heading-tittle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 7rem;
  height: 3px;
  background-color: #e88182;
}
.block-heading-desc {
  font-size: 1.5rem;
  color: #999;
  margin-bottom: 10rem;
}
@media screen and (max-width: 767px) {
  .block-heading {
    padding-top: 6rem;
  }
  .block-heading-caption {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .block-heading-tittle {
    font-size: 2.5rem;
    padding-bottom: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .block-heading-desc {
    margin-bottom: 6rem;
    font-size: 1.2rem;
    text-align: justify;
  }
}

.about-list {
  display: flex;
  margin: 0 -1.5rem;
  margin-bottom: 11rem;
  flex-wrap: wrap;
}
.about-item {
  position: relative;
  width: calc(33.33% - 3rem);
  margin: 0 1.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.about-item:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 0 #95e1d3;
}
.about-item:hover .about-item-inner {
  opacity: 1;
}
.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-item-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(to bottom, rgba(232, 129, 130, 0.8), rgba(239, 216, 137, 0.8));
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  transition: all 0.2s linear;
}
.about-item-text {
  margin-top: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}
@media screen and (max-width: 767px) {
  .about-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .about-list::-webkit-scrollbar {
    display: none;
  }
  .about-item {
    width: 80%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }
  .about-item:hover {
    box-shadow: none;
    transform: unset;
  }
  .about-item:hover .about-item-inner {
    opacity: 0;
  }
}

.statistics {
  background-color: #95e1d3;
}
.statistics-list {
  display: flex;
}
.statistics-item {
  padding: 8.8rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid rgba(245, 245, 245, 0.5);
  width: 20%;
  color: white;
}
.statistics-item:last-child {
  border-right: 1px solid rgba(245, 245, 245, 0.5);
}
.statistics-data {
  font-size: 7.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.statistics-category {
  text-transform: uppercase;
  font-size: 1.4rem;
}
@media screen and (max-width: 1023px) {
  .statistics-data {
    font-size: 6rem;
  }
  .statistics-category {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .statistics-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .statistics-list::-webkit-scrollbar {
    display: none;
  }
  .statistics-item {
    scroll-snap-align: start;
    flex-shrink: 0;
    padding: 6rem 0;
    width: 40%;
  }
}

.services {
  padding-bottom: 12rem;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
}
.services-list:first-child {
  padding-bottom: 5rem;
  border-bottom: 1px solid #ccc;
}
.services-item {
  margin: 0 3rem;
  width: calc(33.33% - 6rem);
  display: flex;
  align-items: flex-start;
}
.services-item-image {
  width: 3.2rem;
  margin-right: 3rem;
}
.services-item-content {
  width: calc(100% - 6.2rem);
}
.services-item-category {
  margin-bottom: 1.4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #333;
  font-weight: 700;
}
.services-item-desc {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: #999;
  letter-spacing: 1.2;
}
@media screen and (max-width: 767px) {
  .services {
    padding-bottom: 6rem;
  }
  .services-list {
    padding-top: 3rem;
  }
  .services-item {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .services-item:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}

.devices {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/devices-bg.jpg");
}
.devices-container {
  text-align: center;
}
.devices-images {
  position: relative;
  display: inline-block;
}
.devices-image1 {
  margin: 0 auto;
  max-width: 72%;
}
.devices-image2 {
  position: absolute;
  left: calc(75% - 4rem);
  bottom: -15%;
  max-width: 40%;
}

.wedo {
  padding-bottom: 12rem;
}
.wedo-image {
  object-fit: cover;
  object-position: center;
}
.wedo-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wedo .wedo-list, .wedo .wedo-image {
  width: calc(50% - 1.5rem);
}
.wedo-item {
  border: 2px solid #eee;
}
.wedo-item:not(:last-child) {
  margin-bottom: 1.2rem;
}
.wedo-item.is-active .wedo-item-desc {
  display: block;
}
.wedo-item-header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wedo-item-image {
  margin-right: 2rem;
}
.wedo-item-category {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}
.wedo-item-icon {
  margin-left: auto;
  font-size: 2.4rem;
  color: #999;
}
.wedo-item-content {
  padding: 1.5rem;
  border-top: 2px solid #eee;
}
.wedo-item-desc {
  display: none;
  height: 18rem;
  overflow-y: auto;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999;
  font-weight: 200;
  line-height: 1.2;
  padding-right: 1.4rem;
}
.wedo-item-desc::-webkit-scrollbar {
  width: 6px;
}
.wedo-item-desc::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  border-radius: 1rem;
}
.wedo-item-desc::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  height: 3rem;
  border-radius: inherit;
}
@media screen and (max-width: 767px) {
  .wedo {
    padding-bottom: 6rem;
  }
  .wedo .wedo-list, .wedo .wedo-image {
    width: 100%;
  }
  .wedo-image {
    margin-bottom: 2rem;
  }
}

.quote {
  padding: 6.8rem 0;
  background-color: #f8f8f8;
}
.quote-inner {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote-content {
  width: calc(100% - 16rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote-image {
  margin-right: 3rem;
}
.quote-content-desc {
  font-size: 2rem;
  letter-spacing: 1.2;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999;
}
.quote-author {
  display: inline-block;
  margin-top: 2.5rem;
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  padding-left: 1rem;
  position: relative;
  margin-left: 6rem;
}
.quote-author::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 6rem;
  top: 50%;
  left: 0;
  background-color: #e88182;
  transform: translateX(-100%);
}
.quote-icon {
  font-size: 2.4rem;
  color: #999;
}
@media screen and (max-width: 1023px) {
  .quote-image {
    width: 12rem;
  }
  .quote-content {
    width: calc(100% - 12rem);
  }
}
@media screen and (max-width: 767px) {
  .quote {
    padding: 4rem 0;
  }
  .quote-image {
    display: none;
  }
  .quote-info {
    width: 100%;
  }
  .quote-content {
    width: calc(100% - 8rem);
  }
  .quote-content-desc {
    font-size: 1.6rem;
  }
  .quote-author {
    font-size: 2rem;
  }
}

.qoute--modify {
  background-color: #fff;
}

.team {
  padding-bottom: 12rem;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}
.team-item {
  margin: 0 1.5rem;
  width: calc(33.33% - 3rem);
  text-align: center;
}
.team-media {
  position: relative;
  transition: all 0.2s linear;
  cursor: pointer;
}
.team-media:hover {
  box-shadow: 10px 10px 0 0 #95e1d3;
  transform: translate(-10px, -10px);
}
.team-media:hover .team-socials {
  opacity: 1;
}
.team-socials {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-image: linear-gradient(to bottom, rgba(232, 129, 130, 0.8), rgba(239, 216, 137, 0.8));
  transition: all 0.2s linear;
}
.team-item-icon {
  padding: 2rem;
  background-color: #efd889;
  font-size: 2rem;
  color: #e88182;
  transition: all 0.2s linear;
}
.team-socials-link:hover .team-item-icon {
  color: white;
  background-color: #e88182;
}
.team-socials-link:not(:last-child) {
  border-right: 1px solid rgba(232, 129, 130, 0.4);
}
.team-item-name {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.team-item-job {
  display: block;
  font-style: italic;
  color: #999;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 767px) {
  .team {
    padding-bottom: 6rem;
  }
  .team-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .team-list::-webkit-scrollbar {
    display: none;
  }
  .team-item {
    scroll-snap-align: center;
    width: 70%;
    flex-shrink: 0;
  }
}

.brand {
  padding: 6rem 0;
  background-color: #f8f8f8;
}
.brand-image {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .brand-inner {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .brand-inner::-webkit-scrollbar {
    display: none;
  }
  .brand-image {
    max-width: 200%;
  }
}

.clients {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/clients-bg.png");
  padding-bottom: 8rem;
  background-size: cover;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
}
.clients-item {
  width: calc(50% - 8rem);
  margin: 0 4rem;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;
}
.clients-item span {
  display: block;
}
.clients-image {
  margin-right: 3rem;
}
.clients-name {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.clients-job {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  padding-bottom: 2rem;
  position: relative;
  margin-bottom: 2rem;
}
.clients-job::after {
  content: "";
  position: absolute;
  width: 6rem;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #e88182;
}
.clients-desc {
  color: #999;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 1023px) {
  .clients-item {
    width: calc(50% - 4rem);
    margin: 0 2rem;
    margin-bottom: 4rem;
  }
  .clients-image {
    width: 8rem;
  }
}
@media screen and (max-width: 767px) {
  .clients-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .clients-list::-webkit-scrollbar {
    display: none;
  }
  .clients-item {
    width: calc(100% - 2rem);
    margin: 0 1rem;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
}

/*# sourceMappingURL=app.css.map */
